.titleContainer {
    height: 15vh;
    width: 100%;
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleContainer h3 {
    text-align: center;
}