.mainContainer {
    width: 100%;
    height: 100vh;
}

.mainContainer .topContainer {
    height: 17.5%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(0, 0, 255, 0.4);
}

.mainContainer .topContainer .textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    color: white;
}

.mainContainer .middleContainer {
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 4px black;
    background: rgba(255, 255, 0, 0.1);
}

.mainContainer .middleContainer div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 40%;
    background: rgba(0, 0, 0, 0.5);
}

.mainContainer .middleContainer div h3 {
    color: white;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;    
}

.mainContainer .bottomContainer {
    height: 57.5%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    background: rgba(50, 50, 50, 1);
    overflow: hidden;
}

.mainContainer .bottomContainer div {
    position: relative;
    overflow: hidden;
    width: calc(100%/4);
    height: 100%;
}

.mainContainer .bottomContainer div div {
    border: none;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 25%;
    border-radius: 75px;
    height: 15%;
    width: 50%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 6px black;
    transition: background .5s;
}

.mainContainer .bottomContainer div div:hover {
    background: rgba(0 , 0, 0, 0.9);
}

.mainContainer .bottomContainer div div h3 {
    border-radius: 6px;
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

.mainContainer .bottomContainer div div h3:hover {
    text-shadow: 1px 1px 2px white;
}

.mainContainer .bottomContainer .imgContainer:first-of-type {
    background-image: url('../Images/ukrainemap1.jpg');
    background-size: 200% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.mainContainer .bottomContainer .imgContainer:nth-of-type(2) {
    background-image: url('../Images/test1.jpg');
    background-size: 150% 100%;
    background-position: right;
    background-repeat: no-repeat;
}

.mainContainer .bottomContainer .imgContainer:nth-of-type(3) {
    background-image: url('../Images/protest1.jpg');
    background-size: 140% 100%;
    background-repeat: no-repeat;
}

.mainContainer .bottomContainer .imgContainer:nth-of-type(4) {
    background-image: url('../Images/euromaidan1.jpg');
    background-size: 150% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.mainContainer .bottomTextContainer {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    color: white;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    margin-top: 100%;
}

.mainContainer .bottomTextContainer div {
    display: flex;
    justify-content: center;
    align-items: center;
}