.mainContainer {
    width: 100%;
    height: 100vh;
}

.mainContainer .topContainer {
    height: 22.5%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('../Images/banner1.jpg');
    background-position: bottom;
    background-size: 100% 500%;
    border-bottom: 15px solid black;
}

.mainContainer .topContainer .textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    color: white;
}

.mainContainer .bottomContainer {
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    background: rgba(50, 50, 50, 1);
    overflow: hidden;
}

.mainContainer .bottomContainer div {
    position: relative;
    overflow: hidden;
    width: calc(100%/4);
    height: 100%;
}

.mainContainer .bottomContainer div div {
    border: none;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 20%;
    border-radius: 75px;
    height: 10%;
    width: 60%;
    background: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 6px black;
    transition: background .5s;
}

.mainContainer .bottomContainer div div:hover {
    background: rgba(0 , 0, 0, 0.9);
}

.mainContainer .bottomContainer div div h3 {
    border-radius: 6px;
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

.mainContainer .bottomContainer div div h3:hover {
    text-shadow: 1px 1px 2px white;
}

.mainContainer .bottomContainer .imgContainer:first-of-type {
    background-image: url('../Images/histImages/ussr.jpg');
    background-size: 180% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.mainContainer .bottomContainer .imgContainer:nth-of-type(2) {
    background-image: url('../Images/histImages/russianSoldiers.webp');
    background-position: center;
    background-size: 200% 100%;
}

.mainContainer .bottomContainer .imgContainer:nth-of-type(3) {
    background-image: url('../Images/observer1.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.mainContainer .bottomContainer .imgContainer:nth-of-type(4) {
    background-image: url('../Images/protest1.jpg');
    background-size: 190% 100%;
    background-position: right;
    background-repeat: no-repeat;
}

.mainContainer .bottomTextContainer {
    height: 7.5%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    color: white;
    margin-top: 100%;
}

.mainContainer .bottomTextContainer div {
    display: flex;
    justify-content: center;
    align-items: center;
}