@media only screen and (max-width: 1000px) {
    #vice-vid-cont {
        flex-direction: column;
        justify-content: space-evenly;
    }

    #vice-vid-cont div {
        height: 30%;
        width: 90%;
    }

    #vice-vid-cont div h4 {
        display: none;
    }

    #vice-vid-cont div iframe {
        height: 100%;
        border-radius: 0px;
    }
}

@media only screen and (max-width: 500px) {
    div[data-id="header-vid-cont"] h3, div[data-id="footer-vid-cont"] h3 {
        font-size: .9rem;
    }

}

@media only screen and (min-height: 200px) and (max-height: 550px) and (min-width: 400px) and (max-width: 1100px) {
    #main-video-container {
        height: 200vh;
    }
}